 body {
     font-family: Arial;
     background: #d9f3f8;
     margin: 0;
 }

 header {
     background: #168aad;
     color: white;
     text-align: center;
     padding: 30px;
 }

 nav {
     background: #126782;
     text-align: center;
     padding: 12px;
 }

 nav a {
     color: white;
     margin: 10px;
     text-decoration: none;
     font-weight: bold;
 }

 main {
     width: 90%;
     max-width: 850px;
     margin: 20px auto;
 }

 section {
     background: white;
     padding: 20px;
     margin-bottom: 20px;
     border-radius: 8px;
 }

 h2 {
     color: #126782;
     border-left: 5px solid #168aad;
     padding-left: 10px;
 }

 p {
     line-height: 1.5;
 }

 .fotos {
     display: flex;
     gap: 15px;
     flex-wrap: wrap;
     justify-content: center;
 }

 .card {
     width: 31%;
     background: #fff;
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 }

 .card img {
     width: 100%;
     height: 180px;
     object-fit: cover;
     display: block;
 }


 footer {
     background: #126782;
     color: white;
     text-align: center;
     padding: 20px;
 }